@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.7;
    font-family: 'Roboto', sans-serif;
}

header {
    max-height:10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px #E4E9F2;
    padding-left: 20px;
}


/*nav  {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    list-style-type: none;*/
/*    margin-right: 20px;   */
/*}*/

button {
    box-shadow: 8px 11px 18px -6px rgba(0,0,0,0.65);
    border: none;

}


.add-btn {
    background-color: aquamarine;
        margin: 16px 16px 16px 16px;
    padding: 16px 16px 16px 16px;
    border-radius: 5px;
    color: gray;
}

.mass-btn {
    background-color: blueviolet;
    margin: 16px 16px 16px 16px;
    padding: 16px 16px 16px 16px;
    border-radius: 5px;
    color: white;
}

.save-btn {
    background-color: aquamarine;
        margin: 16px 16px 16px 16px;
    padding: 16px 16px 16px 16px;
    border-radius: 5px;
    color: gray;
}

.cancel-btn {
    background-color: lightslategrey;
    margin: 16px 16px 16px 16px;
    padding: 16px 16px 16px 16px;
    border-radius: 5px;
    color: white;
}

.product-list-wrapper form {
    width: 100%;
    max-height: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 250px);
    gap: 32px;
    padding-left: 100px;
    padding-top: 25px;
}

table tbody .content {
    display: flex;
    flex-direction:column;
    justify-content:baseline;
    align-items:center;
    border: solid 1px black;
    border-radius: 5%;
    box-shadow: 8px 11px 18px -6px rgba(0,0,0,0.65);
    width: 250px;
    height: 250px;
}

table tbody .content th {
    align-self: flex-start;
    padding-top:20px;
    padding-left:20px;
}



.product-form {
    margin-top: 20px;
    margin-left: 20px;
    height: 70vh;
}


.product-list-wrapper  .div-box  tbody  .content {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto' sans-serif;
    font-size: 16px;
}


#dvd {
    display: none;
  }
  
  #book {
    display: none;
  }
  
  #furniture {
    display: none;
  }

.footer-wrap {
    width: 100%;
    max-height: 10%;
    margin-top: 25px;

}

.footer {
    text-align: center;
}

